body{
    font-family: Poppins, sans-serif;
}
html{
    font-size: 67.5%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}


.nav-link{
    font-size: 1.3rem;
    color:black;
    margin: 1rem 1rem;
    text-decoration: none !important;
    list-style: none;
    border-bottom: none;
    font-family: Poppins, sans-serif;
}
.main-post{
    font-family: Poppins, sans-serif;
}
.blog-card{
    border-radius: 50px;
    color: white;
    padding: 2rem 6rem;
    margin: 2rem;
    width: 90%;
    background-image: linear-gradient(to right,#030303,#292E49);
}